{% extends "dl/base.html" %} {% block body %}
<h2>csvファイルのアップロード</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="file" id="file" required /><br />
  入力の列数 n = <input
    type="number"
    name="input_size"
    id="input_size"
    style="width: 50px"
    required
  />
  <br />
  出力の列数 m = <input
    type="number"
    name="output_size"
    id="output_size"
    style="width: 50px"
    required
  />
  <br />
  <button type="submit">アップロード</button>
</form>
<h3>注意事項</h3>
<ul>
  <li>以下のフォーマットに従った<b>csvファイル</b>をアップしてください</li>
  <li>入力値は数字限定のため、文字は先に置換してください</li>
  <li>学習精度を上げるためには、最低数百行程度が必要です</li>
</ul>
{% load static %}
<img src="{% static 'dl/media/2026-02-08 163324.png' %}" />
{% endblock %}
